@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
$nunito-font: 'Nunito', sans-serif;

// keyrames
@keyframes floating {
  from { transform: translateY(0px); }
  65%  { transform: translateY(15px); }
  to   { transform: translateY(-0px); }
}

.page-not-found {
  position: relative;
  background-image: url('https://mars-404.templateku.co/img/star.svg'),linear-gradient(to bottom, #000, #2b2b2b);
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  overflow: hidden;
}

.page-not-found__mars {
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  height: 27vmin;
  background: url('https://mars-404.templateku.co/img/mars.svg') no-repeat bottom center;
  background-size: cover;
}

.page-not-found__logo-404 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 16vmin;
  width: 30vmin;

  @screen sm {
    top: 45vmin;
  }
}

.page-not-found__astronaut {
  position: absolute;
  top: 18vmin;
  left: 10vmin;
  height: 30vmin;
  animation: floating 3s infinite ease-in-out;

  @screen sm {
    top: 2vmin;
  }
}

.page-not-found__meteor {
  position: absolute;
  right: 2vmin;
  top: 16vmin;
}

.page-not-found__spaceship {
  position: absolute;
  bottom: 15vmin;
  right: 24vmin;

  @screen sm {
    width: 45vmin;
    bottom: 18vmin;
  }
}

.page-not-found__title {
  color: white;
  font-family: $nunito-font;
  font-weight: 600;
  text-align: center;
  font-size: 5vmin;
  margin-top: 31vmin;

  @screen sm {
    margin-top: 65vmin;
  }
}

.page-not-found__subtitle {
  color: white;
  font-family: $nunito-font;
  font-weight: 400;
  text-align: center;
  font-size: 3.5vmin;
  margin-top: -1vmin;
  margin-bottom: 9vmin;
}

.page-not-found__btn-back {
  border: 1px solid white;
  color: white;
  height: 5vmin;
  padding: 12px;
  font-family: $nunito-font;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background: white;
    color: #4D007D;
  }

  @screen sm {
    font-size: 3.5vmin;
  }
}
