
.section-account__container {
  @apply .relative .mx-auto .pt-40 .pb-22;
  @extend .section-container;

  @screen lg {
    @apply .pt-34;
  }

  @screen md {
    @apply .pt-31;
  }
}

.account-container {
  @apply .max-w-xl .mx-auto;

  //@screen sm {
  //  @apply .px-4;
  //}
}

.account-details {
  //max-width: 800px;
}

.account-details__list {
  @apply .list-reset;
}

.account-details__item {
  @apply .mx-8 .py-4 .flex .border-b .border-grey-lighter;

  .account-details__item-info, .account-details__item-input {
    @apply .w-full .flex .relative;

    @screen md {
      @apply .block;
    }
  }

  .account-details__item-input {
    @screen md {
      & .account-details__text {
        @apply .justify-center;
      }
    }
  }

  @screen md {
    @apply .block .mx-6 .py-8;
  }
}

.account-details__text {
  @apply .flex .items-center;

  //.panel-section--primary & {
  //  @apply .overflow-auto;
  //}

  @screen md {
    .panel-section--secondary & {
      @apply .justify-center;
    }
  }
}

//.account-details__label, .account-details__text {
//  @apply .w-1/2;
//}

.account-details__label {
  @apply .flex .flex-col .justify-center .flex-none .w-1/4;
  @extend .info-text, .info-text--alt;

  //.panel-section--primary & {
  //  @apply .flex-none;
  //}

  @screen lg {
    @apply .w-1/3;
  }

  //@screen md {
  //  @apply .w-1/2;
  //}

  @screen md {
    @apply .w-full .mb-4 .text-center;
  }

  & span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.account-edit-field {
  &:hover {
    & .account-details__action-btns {
      @apply .block;
    }
  }
}

.account-details__action-btns {
  @apply .hidden .absolute .pin-r .pin-t .bg-white .px-3;
}

.text-overflow-fix {
  //@apply .justify-start .overflow-auto !important;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  overflow: auto !important;
}

.tokens-earned {
  //@apply .info-text;
  //@apply .hidden;
  @extend .heading, .heading--xs;
}

.tokens-potential {
  @apply .mx-4;
  @extend .info-text, .info-text--alt;

  @screen md {
    @apply .hidden;
  }
}

.account-airDrop-notify {
  @apply .border-2 .border-white-darker .relative;

  &__wrap {
    @apply .block .py-2 .pl-4 .pr-12;
    @extend .heading, .heading--xs;

    &::after {
      content: '';
      width: 29px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 12px;
      background: transparent url("../images/common/ico-join.svg") no-repeat left center;
      background-size: 100% 26px;
    }
  }
}
