
.section-auth__container {
  @apply .mx-auto .relative .pt-36 .pb-22;

  @screen md {
    @apply .pt-31;
  }
}

//.auth-form-wrapper {
//}

//.auth-form .form-label {
//}

// Reset password
.section-reset-pass__container {
  @apply .mx-auto .relative .pt-36 .pb-22;

  @screen md {
    @apply .pt-31;
  }
}

