
.vin-form-wrapper {
  @apply .mx-auto .px-0 .py-0;
  min-width: 290px;
  max-width: 355px;
}

@media (max-width: 380px) {
  .vin-form-wrapper {
    @apply .px-6 .mx-4;
    max-width: 400px;
  }
}

.vin-form {

  & .form-group {
    @apply .mb-2;
  }

  &--inline .form__holder {
    @apply .flex .items-center;

    & .form-group {
      @apply .mr-4 .mb-0;
    }

    @screen sm {
      @apply .flex-col .items-center;

      & .form-group {
        @apply .mr-0 .mb-4;
      }

      & .btn--small {
        @apply .min-w-180;
      }
    }
  }

  & .form-label {
    @apply .block .font-normal .text-white .text-xs .tracking-wide .text-left .mb-1;
  }

  & .form-control {
    @apply .w-full .bg-white .px-4 .py-2 .font-medium .text-grey-darkest .rounded .border-2 .border-transparent;
    @extend .paragraph;

    &:focus {
      @apply .border-2 .border-yellow;
      outline: none;
    }

    &.form-control--md {
      @apply .w-1/2 .min-w-300;

      @screen sm {
        @apply .w-full .min-w-240;
      }
    }
  }

  & .checkbox-group {
    //@apply .flex .justify-center .text-center .mt-8;
    @apply .text-center .mt-8;

    & .checkbox-label {
      @apply .flex .justify-center .items-center;
      //@apply .pl-6;

      & .checkbox-mock-btn {
        @apply .border-2 .border-grey-darker .rounded-full .bg-transparent .mr-1 .text-center;
        content: '';
        width: 16px;
        height: 16px;

        &::before {
          @apply .hidden .bg-red-light .rounded-full;
          content: '';
          width: 8px;
          height: 8px;
          margin-bottom: 3px;
        }

        //& + .form-checkbox:checked {
        //
        //}
      }

      & .form-checkbox {
        @apply .hidden;

        &:checked {
          & + .checkbox-mock-btn {
            &::before {
              @apply .inline-block;
            }
          }
        }
      }
    }
  }


  &--transparent {
    .form-label {
      @apply .text-black;
    }
    .form-control {
      @apply .border-2 .border-grey;
    }
  }

  & .help-block {
    @apply .text-left .text-yellow;
    display: none;
    @extend .info-text, .info-text--alt;
  }
}

.vin-form.processing .submit-btn {
  @extend .btn--disabled;
}

.vin-form .has-error .help-block {
  display: block;
}

.success-msg-wrapper {
  display: none;
}
