
.coin-icon {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 16px;
  background-image: url("../images/account/coin-icons.png");
  background-position: 0 -10px;
  background-repeat: no-repeat;
  -moz-background-size: 304px 42px;
  -o-background-size: 304px 42px;
  -webkit-background-size: 304px 42px;
  background-size: 304px 42px;
}

.icon-linkedIn {
  @apply .inline-block .align-middle;
  width: 20px;
  height: 20px;
  background: transparent url("../images/social/ico-linkedin.svg") no-repeat left top;
  background-size: 100% 100%;
}
