

.logo {
  @apply .flex .items-center .no-underline;
  //height: 44px;
  //padding-left: 50px;

  &__brand-img {
    @apply .flex-none .mr-2;
  }

  &__brand-name {
    @apply .font-bold .text-sm .tracking-wide .uppercase;
    //line-height: 45px;
  }

  &--col {
    @apply .flex-col;

    & .logo__brand-img {
      @apply .mr-0 .mb-1;
    }
  }
}

.logo--white {
  & .logo__brand-img {
    width: 44px;
    height: 44px;
    background: transparent url("../images/svg/vnc-logo-w.svg") no-repeat left top;
    background-size: 44px 44px;
  }

  & .logo__brand-name {
    @apply .text-white;
  }
}

.logo--red {
  & .logo__brand-img {
    width: 44px;
    height: 44px;
    // TODO: add svg version later
    background: transparent url("../images/svg/vnc-logo.svg") no-repeat left top;
    background-size: 44px 44px;
  }

  & .logo__brand-name {
    @apply .text-black;
  }
}

.logo-2 {
  width: 113px;
  height: 113px;
  background: transparent url("../images/svg/vnc-logo.png") no-repeat;
}

.logo-big.section-logo {
  @apply .mx-auto .mb-6;
  width: 151px;
  height: 151px;
  background: transparent url("../images/svg/vnc-logo.svg") no-repeat left top;
  background-size: 100% auto;
  @screen md {
    width: 121px;
    height: 121px;
  }
}